body
  background #eeeeee url(img/bg.png)
.container
  width 500px
  height 500px
  position absolute
  top 50%
  left 50%
  margin -250px 0px 0px -250px

#photostack
  img
    border 10px solid #FFFFFF
    position absolute
    box-shadow 1px 1px 15px rgba(30,30,30,0.3)
    -webkit-transition -webkit-transform .2s ease-in
  ul.pagination
    position absolute
    right 0
    top 0
  div.prev,
  div.next
    position absolute
    bottom 50%
    span
      text-indent -9999px
      height 33px
      width 15px
      display block
      background url(img/arrows.png) no-repeat
  div.prev
    left -100px
    span
      background-position 0px 0px
      &:hover
        background-position 0px -33px
  div.next
    right -100px
    span
      background-position -15px 0px
      &:hover
        background-position -15px -33px